
/* ---------------- Animation d'arrivée sur Index ---------------- */



.appear__item{
    animation: appear 900ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
}

@keyframes appear{
    from{
        opacity: 0;
        margin-bottom: -40px;
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}



/* ---------------- Animation d'arrivée sur Teddy's Page ---------------- */



.appear__teddyItem1{
    animation: appearTeddy 500ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
    animation-delay: 5ms;
}
.appear__teddyItem2{
    animation: appearTeddy 500ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
    animation-delay: 150ms;
}
.appear__teddyItem3{
    animation: appearTeddy 500ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
    animation-delay: 300ms;
}
.appear__teddyItem4{
    animation: appearTeddy 500ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
    animation-delay: 450ms;
}
.appear__teddyItem5{
    animation: appearTeddy 500ms both;
    animation-timing-function: cubic-bezier(.34,.08,.2,.99);
    animation-delay: 600ms;
}

@keyframes appearTeddy{
    from{
        opacity: 0;
        margin-bottom: -40px;
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}


/* ---------------- Animation +1  ---------------- */


@keyframes plusOne{
    from{
        opacity: 0;
        // margin-top: -1px;
    }
    20%{
        opacity: 1;
    }
    60%{
        opacity: 1;
        // margin-top: -100px;
    }
    to{
        opacity: 0;
        // margin-top: -1px;
    }
}