@import "variable&Mixin";


@font-face{
    font-family:'Flavors';
    src: url('fonts/Flavors-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Vanilla';
    src: url('fonts/Vanilla.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Flavors', Impact, 'Arial Narrow Bold', sans-serif;
    footer{
        font-family: 'Vanilla', Impact, 'Arial Narrow Bold', sans-serif;
        color: $secondaire;
        // font-family: 'Flavors', Impact, 'Arial Narrow Bold', sans-serif;
    }
}



/* Main */

.container-fluid{
    padding: 0px;
    .navbar{
        @include flexBetweenCenter;
        flex-direction: row;
        padding: 0em;
        .navbar-brand{
            padding-top: 0em;
            padding-bottom: 0em;
        }
        .centralHeader{
            @include flexAroundCenter;
            flex-direction: row;
            color: $secondaire;
            width: 30%;
        }
        .navbar__link{
            @include flexAroundCenter;
            align-self: flex-end;
            width: 15%;
            height: 90px;
            &--accueil{
                width: 45%;
                a{
                    @include flexAroundCenter;
                    align-self: center;
                    color: black;
                    text-decoration: none;
                    width: 80%;
                    height: 40%;
                    border: 2px solid white;
                    border-radius: 8px;
                    background-color: $sand;
                    &:hover{
                        color: $primaire;
                        font-size: 20px;
                        background-color: $tertiaire;
                        border: 2px solid $secondaire;
                    }
                    &:active{
                        background-color: lighten($tertiaire, $amount: 10);
                    }
                }   
            }
            &--panier{
                width: 45%;
                a{
                    @include flexAroundCenter;
                    align-self: center;
                    color: black;
                    text-decoration: none;
                    width: 80%;
                    height: 40%;
                    border: 2px solid white;
                    border-radius: 8px;
                    background-color: $sand;
                    &:hover{
                        color: $primaire;
                        font-size: 20px;
                        background-color: $tertiaire;
                        border: 2px solid $secondaire;
                    }
                    &:active{
                        background-color: lighten($tertiaire, $amount: 10);
                    }
                }   
            }  
        }
    }    
}
.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    width: 90%;
    .blockTeddyList{
        @include flexAroundCenter;
        // flex-direction: column;
        height: 98%;
        width: 100%;
        .row{
            @include flexAroundCenter;
            border-radius: 4px;
            overflow: hidden;
            width: 18%;
            height: 80%;
            border: 1px solid $primaire;
            background-color: $sand;
            &__left{
                height: 20%;
                width: 100%;
                overflow: hidden;
                img{
                    @include flexAroundCenter;
                    width: 100%;
                }
            }
            &__mid{
                @include flexAroundCenter;
                flex-direction: column;
                height: 60%;
                width: 100%;
                overflow: hidden;
                .title{
                    @include flexAroundCenter;
                    flex-direction: row;
                    width: 100%;
                    height: 20%;
                    &__name{
                        @include flexAroundCenter;
                        width: 100%;
                        height: 100%;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                &__description{
                    @include flexAroundCenter;
                    text-align: justify;
                    height: 79%;
                    width: 90%
                }
            }
            &__right{
                @include flexAroundCenter;
                flex-direction: column;
                height: 20%;
                width: 100%;
                overflow: hidden;
                &__price{
                    border: 2px solid $tertiaire;
                    border-radius: 5px;
                    width: 40%;
                    height: 40%;
                    @include flexAroundCenter;
                    // font-weight: bold;
                    font-size: 25px;
                }
                .button{
                    border: 2px solid $primaire;
                    background-color: $fire;
                    border-radius: 5px;
                    width: 80%;
                    height: 40%;
                    @include flexAroundCenter;
                    font-size: 20px;
                    &:hover{
                        color: $primaire;
                        font-size: 25px;
                        background-color: $tertiaire;
                        border: 2px solid $secondaire;
                    }
                    &:active{
                        background-color: lighten($tertiaire, $amount: 10);
                    }
                }
                a{
                    color: black;
                    text-decoration: none;
                }
                
            }
        }
    }
}
footer{
    @include flexAroundCenter;
    width: 100%;
    height: 100px;
    color: white;
}










/* Teddy's Page */

.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    .teddy__page{
        @include flexAroundCenter;
        height: 80%;
        width: 90%;
        border-radius: 5px;
        // border: 1px solid $primaire;
        background-color: $sand;
        &--left{
            @include flexAroundCenter;
            width: 48%;
            height: 75%;
            overflow: hidden;
            border-radius: 5px;
            img{
                @include flexAroundCenter;
                height: 100%;
                overflow: hidden;
            }
        }
        &--right{
            @include flexAroundCenter;
            flex-direction: column;
            border: 2px solid $primaire;
            border-radius: 5px;
            width: 48%;
            height:75%;
            &--nameID{
                @include flexAroundCenter;
                flex-direction: column;
                width: 80%;
                height:15%;
                h2{
                    font-size: 12px;
                }
            }
            &--description{
                @include flexAroundCenter;
                text-align: justify;
                border-radius: 5px;
                width: 80%;
                height:22%;
            }
            .teddyColor{
                @include flexAroundCenter;
                border: 1px solid $secondaire;
                border-radius: 5px;
                width: 40%;
                height: 12%;
            }
            &--bottom{
                @include flexAroundCenter;
                border-radius: 5px;
                width: 80%;
                height: 30%;
                .plusUn{
                    @include flexAroundCenter;
                    color: green;
                    font-size: 40px;
                    width: 50px;
                    opacity: 0;
                    z-index: -5;
                }
                #buttonTeddy{
                    @include flexAroundCenter;
                    border: 2px solid $primaire;
                    border-radius: 5px;
                    width: 60%;
                    height: 50%;
                    cursor: pointer;
                    font-size: 25px;
                    &:hover{
                        color: $primaire;
                        font-size: 27px;
                        background-color: $tertiaire;
                        border: 2px solid $secondaire;
                    }
                    &:not(:active) + .plusUn{
                        animation: plusOne 1500ms both;
                        animation-timing-function: cubic-bezier(.34,.08,.2,.99);
                    }
                    &:active{
                        background-color: lighten($tertiaire, $amount: 10);
                    }
                }
            } 
        }
    }
}




/* Panier's Page */
.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    // h1{
    //     font-size: large;
    // }
    #pageDuPanier{
        @include flexAroundCenter;
        color: black;
    }
    .panier__page{
        @include flexAroundCenter;
        height: 85%;
        width: 90%;
        border-radius: 5px;
        // border: 1px solid $primaire;
        background-color: $sand;
        &--left{
            @include flexAroundCenter;
            flex-direction: column;
            width: 38%;
            height: 90%;
            border-radius: 10px;
            // border: 2px solid $primaire;
            .recapPanier-title{
                @include flexAroundCenter;
                border: 1px solid $primaire;
                width: 99%;
                height: 10%;
                border-radius: 5px 5px 0px 0px;
                h2{
                    font-size: 1.5em;
                }
            }
            .recapPanier{
                border-radius: 0px 0px 10px 10px;
                width: 99%;
                height: 80%;
                &__teddy{
                    @include flexBetweenCenter;
                    border: 1px solid wheat;
                    flex-direction: row;
                    height: 20%;
                    width: 100%;
                    &__left{
                        @include flexAroundCenter;
                        overflow: hidden;
                        img{
                            height: 100%;
                        }
                        height: 100%;
                        width: 15%;
                    }
                    &__mid{
                        height: 100%;
                        width: 65%;
                        .title{
                            @include flexAroundCenter;
                            flex-direction: row;
                            flex-wrap: wrap;
                            height: 100%;
                            &__name{
                                @include flexAroundCenter;
                                // justify-content: flex-end;
                                height: 50%;
                                width: 70%;
                                // font-weight: bold;
                                font-size: 17px;
                                &--price{
                                    font-family: 'Vanilla', Impact, 'Arial Narrow Bold', sans-serif;
                                    color: $primaire;
                                    font-size: 14px;
                                }
                            }
                            &__incrementation{
                                @include flexAroundCenter;
                                height: 50%;
                                width: 30%;
                                color: $secondaire;
                                font-size: 18px;
                            }
                            &__id{
                                @include flexAroundCenter;
                                font-size: 12px;
                                overflow: hidden;
                                height: 50%;
                                width: 100%;
                            }
                        }
                    }
                    &__right{
                        @include flexAroundCenter;
                        flex-direction: column;
                        height: 99%;
                        width: 20%;
                        &__price{
                            @include flexAroundCenter;
                            height: 50%;
                            width: 99%;
                            font-family: 'Vanilla', Impact, 'Arial Narrow Bold', sans-serif;
                            font-size: 16px;
                        }
                        .teddyRemove{
                            @include flexAroundCenter;
                            color: black;
                            text-decoration: none;
                            border: 2px solid $primaire;
                            border-radius: 5px;
                            width: 65%;
                            height: 33%;
                            cursor: pointer;
                            &:hover{
                                color: $primaire;
                                font-size: 22px;
                                background-color: $secondaire;
                                border: 2px solid $primaire;
                                width: 70%;
                                // height: 35%;
                            }
                            &:active{
                                background-color: lighten($primaire, $amount: 10);
                            }
                        }
                    }
                }
            }
            #priceCommand{
                @include flexAroundCenter;
                width: 85%;
                // font-weight: bold;
                font-size: 1.5em;
                height: 10%;
                border-radius: 5px;
                border: 1px solid $primaire;
            }
        }
        &--right{
            @include flexAroundCenter;
            flex-direction: column;
            width: 58%;
            height: 90%;
            border-radius: 5px;
            // border: 1px solid $primaire;
            .formulaire{
                @include flexAroundCenter;
                flex-direction: column;
                width: 90%;
                height: 75%;
                border-radius: 5px;
                border: 1px solid black;
                padding: 20px;
                legend{
                    color: $secondaire;
                }
                .button{
                    border: 2px solid $primaire;
                    border-radius: 5px;
                    width: 40%;
                    height: 20%;
                    @include flexAroundCenter;
                    font-size: 22px;
                    &:hover{
                        color: $primaire;
                        font-size: 26px;
                        background-color: $tertiaire;
                        border: 3px solid $secondaire;
                    }
                    &:active{
                        background-color: lighten($tertiaire, $amount: 10);
                    }
                }
                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}






/* Commande's Page */
.container{
    .main{
        @include flexAroundCenter;
        flex-direction: column;
        height: 85%;
        width: 60%;
        border-radius: 5px;
        border: 1px solid black;
        background-color: $sand;
        img{
            @include flexAroundCenter;
            flex-direction: column;
            // border: 1px solid $primaire;
            border-radius: 8px;
        }
        &__thanks{
            @include flexAroundCenter;
            flex-direction: column;
            border: 1px solid $primaire;
            border-radius: 5px;
            height: 10%;
            width: 90%;
        }
        .sumAndId{
            @include flexBetweenCenter;
            flex-direction: column;
            border: 1px solid $primaire;
            border-radius: 5px;
            height: 20%;
            width: 90%;
            &__total{
                @include flexAroundCenter;
                flex-direction: column;
                height: 60%;
                width: 90%;
                &__commande{
                    font-weight: bold;
                    font-family: Impact, 'Arial Narrow Bold', sans-serif;
                }
            }
            &__id{
                @include flexAroundCenter;
                flex-direction: column;
                height: 40%;
                width: 90%;
                &__order{
                    font-weight: bold;
                    font-family: Impact, 'Arial Narrow Bold', sans-serif;
                }
            }
        }
    }
}