@import "variable&Mixin";


/* Main */

.container-fluid{
    padding: 0px;
    .navbar{
        @include flexBetweenCenter;
        flex-direction: row;
        padding: 0em;
        .navbar-brand{
            padding-top: 0em;
            padding-bottom: 0em;
        }
        .navbar__link{
            @include flexAroundCenter;
            align-self: flex-end;
            width: 15%;
            height: 90px;
            &--accueil{
                width: 45%;
                a{
                    @include flexAroundCenter;
                    align-self: center;
                    color: black;
                    text-decoration: none;
                    width: 80%;
                    height: 40%;
                    border: 2px solid white;
                    border-radius: 8px;
                    background-color: $sand;
                }   
            }
            &--panier{
                width: 45%;
                a{
                    @include flexAroundCenter;
                    align-self: center;
                    color: black;
                    text-decoration: none;
                    width: 80%;
                    height: 40%;
                    border: 2px solid white;
                    border-radius: 8px;
                    background-color: $sand;
                }   
            }  
        }
    }    
}
.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    width: 90%;
    .blockTeddyList{
        @include flexAroundCenter;
        flex-direction: column;
        height: 98%;
        .row{
            @include flexAroundCenter;
            border-radius: 4px;
            overflow: hidden;
            width: 98%;
            height: 20%;
            border: 1px solid $primaire;
            background-color: $sand;
            &__left{
                height: 99%;
                width: 25%;
                overflow: hidden;
                img{
                    @include flexAroundCenter;
                    width: 100%;
                }
            }
            &__mid{
                height: 99%;
                width: 55%;
                overflow: hidden;
                .title{
                    @include flexAroundCenter;
                    flex-direction: row;
                    width: 100%;
                    height: 20%;
                    &__name{
                        width: 49%;
                        height: 99%;
                    }
                    &__id{
                        width: 49%;
                        height: 99%;
                    }
                }
                &__description{
                    @include flexAroundCenter;
                    height: 79%;
                }
            }
            &__right{
                @include flexAroundCenter;
                flex-direction: column;
                height: 99%;
                width: 20%;
                overflow: hidden;
                &__price{
                    border: 2px solid $tertiaire;
                    border-radius: 10px;
                    width: 30%;
                    height: 30%;
                    @include flexAroundCenter;
                }
                .button{
                    border: 2px solid $primaire;
                    border-radius: 10px;
                    width: 80%;
                    height: 40%;
                    @include flexAroundCenter;
                }
                a{
                    color: black;
                    text-decoration: none;
                }
                
            }
        }
    }
}
footer{
    @include flexAroundCenter;
    width: 100%;
    height: 100px;
    color: white;
}










/* Teddy's Page */

.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    .teddy__page{
        border: 1px solid rgb(0, 255, 13);
        @include flexAroundCenter;
        height: 80%;
        width: 90%;
        border-radius: 5px;
        border: 1px solid $primaire;
        background-color: $sand;
        &--left{
            @include flexAroundCenter;
            width: 48%;
            height: 90%;
            overflow: hidden;
            border-radius: 5px;
            img{
                display: flex;
                height: 100%;
                overflow: hidden;
            }
        }
        &--right{
            @include flexAroundCenter;
            flex-direction: column;
            border: 1px solid $primaire;
            border-radius: 5px;
            width: 48%;
            height:80%;
            &--nameID{
                @include flexAroundCenter;
                flex-direction: column;
                width: 80%;
                height:15%;
                h2{
                    font-size: 12px;
                }
            }
            &--description{
                @include flexAroundCenter;
                border: 1px solid $tertiaire;
                border-radius: 5px;
                width: 90%;
                height:55%;
            }
            &--bottom{
                @include flexAroundCenter;
                border: 1px solid $tertiaire;
                border-radius: 5px;
                width: 90%;
                height: 15%;
                .button{
                    border: 2px solid $primaire;
                    border-radius: 10px;
                    width: 40%;
                    height: 80%;
                    @include flexAroundCenter;
                }
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            
        }
    }
}







/* Panier's Page */
.container{
    @include flexAroundCenter;
    background-color: $secondaire;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    .panier__page{
        border: 1px solid rgb(0, 255, 13);
        @include flexAroundCenter;
        height: 80%;
        width: 90%;
        border-radius: 10px;
        border: 1px solid $primaire;
        background-color: $sand;
        &--left{
            @include flexAroundCenter;
            flex-direction: column;
            width: 30%;
            height: 90%;
            border-radius: 10px;
            border: 1px solid $primaire;
            .recapPanier-title{
                @include flexAroundCenter;
                border: 1px solid $tertiaire;
                width: 99%;
                height: 8%;
                border-radius: 10px 10px 0px 0px;
                h2{
                    font-size: 1.2em;
                }
            }
            .recapPanier{
                @include flexBetweenCenter;
                flex-direction: column;
                border-radius: 0px 0px 10px 10px;
                width: 99%;
                height: 91%;
                &__teddy{
                    @include flexAroundCenter;
                    border: 1px solid $primaire;
                    flex-direction: row;
                    height: 20%;
                    width: 100%;
                    &__left{
                        @include flexAroundCenter;
                        overflow: hidden;
                        img{
                            height: 100%;
                        }
                        height: 100%;
                        width: 32%;
                    }
                    &__mid{
                        height: 100%;
                        width: 32%;
                        .title{
                            @include flexAroundCenter;
                            flex-direction: column;
                            height: 100%;
                            &__name{
                                @include flexAroundCenter;
                                height: 50%;
                                width: 100%;
                            }
                            &__id{
                                @include flexAroundCenter;
                                overflow: hidden;
                                height: 50%;
                                width: 100%;
                            }
                        }
                    }
                    &__right{
                        border: 1px solid $secondaire;
                        height: 100%;
                        width: 32%;
                        .button{
                            border: 2px solid $primaire;
                            border-radius: 10px;
                            width: 40%;
                            height: 80%;
                            @include flexAroundCenter;
                        }
                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        &--right{
            @include flexAroundCenter;
            flex-direction: column;
            width: 60%;
            height: 90%;
            border-radius: 10px;
            border: 1px solid $primaire;
            .formulaire{
                @include flexAroundCenter;
                width: 98%;
                height: 50%;
                border-radius: 10px;
                border: 1px solid $tertiaire;
            }
            .button{
                border: 2px solid $primaire;
                border-radius: 10px;
                width: 40%;
                height: 15%;
                @include flexAroundCenter;
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}