/* Variables */

$primaire: #732002;
$secondaire: #D98B48;
$tertiaire: #F2AC57;
$fire: #BFBAB0;
$sand: #BFBAB0;

/* Mixins */
@mixin flexAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}